{
  "root": true,
  "extends": "airbnb-base",
  "plugins": [
    "markdown"
  ],
  "globals": {
    "$": false,
    "assert": false
  },
  "rules": {
    "class-methods-use-this": 0,
    "no-console": 0,
    "no-unused-vars": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0
  }
}
