{
  "extends": "airbnb",
  "globals": {
    "React": false,
    "Foo": false,
    "MyComponent": false
  },
  "rules": {
    "class-methods-use-this": 0,
    "no-unused-vars": 0,
    "no-unused-expressions": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "semi": 0
  }
}
